# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
